<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule ^(.*)$ $1.php
RewriteRule ^([a-z]+)\/?$ $1.php [NC]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f

RewriteRule ^([a-zA-Z0-9_-]+)$ user_page/index.php?ke=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ user_page/index.php?ke=$1

</IfModule>
